<html>
   <h1>Validation Error occured</h1>
   <% if(error.errors['title']!=null){
      %> <p><%= error.errors['title'].message%></p>
      <%
   }%>
   <% if(error.errors['category']!=null){
      %> <p><%= error.errors['category'].message%></p>
      <%
   }%>

   <% if(error.errors['content']!=null){
      %> <p><%= error.errors['content'].message%></p>
      <%
   }%>

   <a href="/blogs/add">Back</a>
</html>
